select{
    font-size: x-large;
    width: 40%;
}
select:hover{
    color: rgb(250, 243, 243);
    background-color: black;
}

main section{
    
    flex-flow:column;
    width: 400px;
    height: 350px;
    border: double rgb(158, 4, 4);
}

