select{
    font-size: x-large;
    width: 40%;
}
select:hover{
    color: rgb(250, 243, 243);
    background-color: black;
}
main{
    display: inline-block;
    margin-left:60px ;
    margin-top: 30px;
}
main section{
    float: left;
    width: 400px;
    height: 300px;
    border: double rgb(158, 4, 4);
}

